# PostgreSQL
PG_URL=postgresql://username:password@hostname:5432/dbname

# Meta WhatsApp Cloud API
META_WHATSAPP_TOKEN=
META_PHONE_NUMBER_ID=
META_VERIFY_TOKEN=
META_APP_SECRET=

# App
ADMIN_PASSWORD=
DISCOUNT_CODE=
NODE_ENV=production
PORT=3000
